---
import { Image } from "@astrojs/image/components";
export interface Props {
  data: {
    img: {
      src: Promise<any>;
      alt: string;
    };
    review: string;
    name: string;
    link?: string;
    business: string;
  };
  className: string;
}

const { data, className = "" } = Astro.props;
---

<div
  class={className + " w-full max-w-md rounded px-12 py-9 text-center shadow"}
>
  <Image class="mx-auto" src={data.img.src} alt={data.img.alt} />
  <p class="mt-3 text-black/80">{data.review}</p>
  <p class="mt-3 font-bold">{data.name}</p>
  {
    data.link && (
      <a class="underline" href={data.link}>
        <p>{data.business}</p>
      </a>
    )
  }
  {!data.link && <p>{data.business}</p>}
</div>
